---
# Boot Options Configuration

- name: Configure boot delay
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?boot_delay="
    line: "boot_delay={{ rpi_boot_delay }}"
    state: present

- name: Configure boot wait
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?boot_wait="
    line: "boot_wait={{ 1 if rpi_boot_wait | bool else 0 }}"
    state: "{{ 'present' if rpi_boot_wait | bool else 'absent' }}"

- name: Configure boot splash
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?disable_splash="
    line: "disable_splash={{ 1 if not rpi_boot_splash | bool else 0 }}"
    state: present
