---
# Hardware Interfaces Configuration

- name: Enable I2C
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?dtparam=i2c_arm="
    line: "dtparam=i2c_arm={{ 'on' if rpi_i2c_enable | bool else 'off' }}"
    state: "{{ 'present' if rpi_i2c_enable | bool else 'absent' }}"

- name: Configure I2C baudrate
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?dtparam=i2c_arm_baudrate="
    line: "dtparam=i2c_arm_baudrate={{ rpi_i2c_baudrate }}"
    state: "{{ 'present' if rpi_i2c_enable | bool and rpi_i2c_baudrate != 100000 else 'absent' }}"
  when: rpi_i2c_enable | bool

- name: Enable SPI
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?dtparam=spi="
    line: "dtparam=spi={{ 'on' if rpi_spi_enable | bool else 'off' }}"
    state: "{{ 'present' if rpi_spi_enable | bool else 'absent' }}"

- name: Enable UART
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?enable_uart="
    line: "enable_uart={{ 1 if rpi_uart_enable | bool else 0 }}"
    state: "{{ 'present' if rpi_uart_enable | bool else 'absent' }}"

- name: Enable UART console
  ansible.builtin.lineinfile:
    path: /boot/cmdline.txt
    regexp: "console=serial0"
    line: "console=serial0,115200"
    state: "{{ 'present' if rpi_uart_console | bool else 'absent' }}"
  when: rpi_uart_console | bool

- name: Enable 1-Wire
  ansible.builtin.lineinfile:
    path: "{{ rpi_boot_config_file }}"
    regexp: "^#?dtoverlay=w1-gpio"
    line: "dtoverlay=w1-gpio"
    state: "{{ 'present' if rpi_onewire_enable | bool else 'absent' }}"
