# {{ ansible_managed }}
default:
  user: {{ pve_exporter_user }}
  token_name: {{ pve_exporter_token_name }}
  token_value: {{ pve_exporter_token_secret }}
  verify_ssl: {{ pve_exporter_verify_ssl | lower }}
