---

- name: UpdateCache
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist

- name: Reinstall proxmox-widget-toolkit
  ansible.builtin.shell: apt --reinstall install proxmox-widget-toolkit
  listen: proxmox-widget-toolkit

- name: update initramfs
  command: update-initramfs -u -k all

- name: reboot host to update microcode
  ansible.builtin.debug:
    msg: "Rebooting host to update microcode"
  changed_when: true
  notify: _reboot host
  when: pve_reboot_for_ucode

- name: restart cpu-governor service
  ansible.builtin.systemd:
    name: cpu-governor.service
    state: restarted

- name: restart ksmtuned service
  ansible.builtin.systemd:
    name: ksmtuned
    state: restarted

- name: Update-grub
  ansible.builtin.command: update-grub
  register: grub_output
  changed_when: grub_output.rc == 0
