---
# OliveTin Configuration File
# This is a basic example configuration
# For more options, see: https://docs.olivetin.app/configuration/

actions:
  - title: "Hello world!"
    shell: echo 'Hello World!'

