---
# Docker Uninstall Tasks

- name: Stop and remove OliveTin Docker container
  community.docker.docker_container:
    name: "{{ olivetin_docker_container_name }}"
    state: absent
  ignore_errors: true

- name: Remove OliveTin Docker config directory
  ansible.builtin.file:
    path: "{{ olivetin_docker_config_path }}"
    state: absent
  become: true
  ignore_errors: true
