---
# Package Manager Uninstall Tasks

- name: Stop and disable OliveTin service
  ansible.builtin.systemd:
    name: OliveTin
    enabled: false
    state: stopped
  become: true
  ignore_errors: true

- name: Remove OliveTin package
  ansible.builtin.command:
    cmd: rpm -e OliveTin
  become: true
  when: ansible_os_family == 'RedHat'
  register: olivetin_uninstall_result
  ignore_errors: true

- name: Remove OliveTin package
  ansible.builtin.apt:
    name: olivetin
    state: absent
    purge: true
    autoclean: true
    autoremove: true
  become: true
  when: ansible_os_family == 'Debian'
  register: olivetin_uninstall_result

- name: Remove OliveTin config directory
  ansible.builtin.file:
    path: "{{ olivetin_config_dir }}"
    state: absent
  become: true
