---
# Handlers for Raspberry Pi Role

- name: restart systemd-journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted

- name: restart rsyslog
  ansible.builtin.systemd:
    name: rsyslog
    state: restarted

- name: restart ssh
  ansible.builtin.systemd:
    name: ssh
    state: restarted

- name: update initramfs
  ansible.builtin.command: update-initramfs -u -k all
  changed_when: true

