##################################################################################################################

[defaults]
# Template string that gets injected into files written by Ansible.
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

# This option will cause Ansible to prompt the user for a connection password by default. Good if you haven't already copied over your key
# ask_pass = yes

# Prompt for the vault password by default. If you have encrypted data/files, this password will be used to decrypt them.
# ask_vault_pass = yes

# Warn when certain commands are used in playbooks.
command_warnings = yes

# Maximum number of hosts to communicate with concurrently.
forks = 10

# Checks the SSH key of the remote host against the system's known hosts.
host_key_checking = no

# Specifies the location of the inventory file.
inventory = {{ inventory_location }}

# Location where the Ansible log files should be saved.
log_path = /tmp/ansible.log

# Log only errors in log path 
log_level = ERROR

nocows = 1

# Save a retry file for every failed playbook.
retry_files_enabled = yes
retry_files_save_path = {{ retry_files_save_path_j2 }}

# Location of your roles directory.
roles_path = {{ roles_path_j2 }}

# Port to be used for SSH.
remote_port = 22

# Directory on the remote host where Ansible will store temporary files.
remote_tmp = ~/.ansible/tmp

# Controls Ansible's fact gathering behavior.
gathering = smart

# Connection timeout in seconds.
timeout = 10

# Path to the SSH private key file used by Ansible to authenticate.
private_key_file = ~/.ssh/id_rsa

remote_user = {{ remote_user_j2 }}

##################################################################################################################

[privilege_escalation]
# Allow privilege escalation.
become = no

# Use sudo as the method to elevate privileges.
become_method = sudo

# User you become post privilege escalation.
become_user = root

# Prompt for privilege escalation password.
become_ask_pass = no

##################################################################################################################

[ssh_connection]
# Use pipelining to improve performance of play executions.
pipelining = yes

# Additional SSH arguments.
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# Use scp if the transport is SSH.
scp_if_ssh = yes

# Directory to save the ssh ControlMaster sockets.
control_path = ~/.ansible/cp/ansible-ssh-%%h-%%p-%%r

[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
