---
- name: Reload sysctl
  ansible.builtin.command:
    cmd: sysctl --system
  become: true
  changed_when: true

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
