
- name: Software | steam | check if distribution is manjaro
  ansible.builtin.stat:
    path: /usr/bin/manjaro-hello
  register: manjaro
  when:
    - ansible_distribution == "Archlinux"
    - steam is defined
    - steam == true

- name: Software | steam | enable multilib (arch)
  tags: steam, multilib
  ansible.builtin.blockinfile:
    state: "{{ 'present' if steam else 'absent' }}"
    backup: yes
    path: /etc/pacman.conf
    marker: '# {mark} ANSIBLE MANAGED BLOCK MULTILIB'
    block: |
      [multilib]
      Include = /etc/pacman.d/mirrorlist
  register: multilib
  when:
    - ansible_distribution == "Archlinux"
    - manjaro.stat.exists == False
    - steam is defined
    - steam == true

- name: Software | steam | update cache (multilib added) (arch)
  tags: steam, multilib
  ansible.builtin.pacman:
    update_cache: yes
  when:
    - multilib.changed
    - ansible_distribution == "Archlinux"

- name: steam | add multiarch (debian, ubuntu)
  tags: steam, multiarch
  become: true
  ansible.builtin.lineinfile:
    path: /var/lib/dpkg/arch
    regexp: "^i386"
    line: "i386"
    create: yes
  when:
    - ansible_distribution in ['Debian', 'Ubuntu']
    - steam is defined
    - steam == true

- name: Software | steam | accept license
  tags: gaming,steam
  become: true
  ansible.builtin.debconf:
    name: "steam"
    question: "steam/question"
    value: "I AGREE"
    vtype: "select"
  when:
    - ansible_distribution in ["Debian", "Ubuntu"]
    - steam is defined
    - steam == true

- name: Software | steam | install package
  tags: steam,steam
  become: true
  ansible.builtin.package:
    state: "{{ 'present' if steam else 'absent' }}"
    name: steam
  when:
    - steam is defined
    - steam == true

- name: Install vulkan drivers (debian, ubuntu, etc)
  tags: drivers,steam
  become: true
  ansible.builtin.package:
    state: "{{ 'present' if steam else 'absent' }}"
    name: mesa-vulkan-drivers
  when:
    - ansible_distribution in ["Debian", "Pop!_OS", "Ubuntu"]
    - steam is defined
    - steam == true
