---
# MBTiles Map Data Downloads

- name: Create MBTiles data directory
  ansible.builtin.file:
    path: "{{ map_data_dir }}/mbtiles"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'
  when: mbtiles_enabled
  become: yes

- name: Download MBTiles files
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ map_data_dir }}/mbtiles/{{ item.name | default(item.url | basename) }}.mbtiles"
    mode: '0644'
    owner: "{{ user }}"
    group: "{{ user }}"
    timeout: 300
    force: no
  loop: "{{ mbtiles_sources | default([]) }}"
  when: 
    - mbtiles_enabled
    - mbtiles_sources | length > 0
  become: yes
  register: mbtiles_downloads
  until: mbtiles_downloads is succeeded
  retries: 3
  delay: 10
  loop_control:
    label: "{{ item.name | default(item.url | basename) }}"

