---
# ASTER Elevation Data Downloads
# Advanced Spaceborne Thermal Emission and Reflection Radiometer elevation data

- name: Create ASTER data directory
  ansible.builtin.file:
    path: "{{ map_data_dir }}/aster"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'
  when: aster_enabled
  become: yes

- name: Download ASTER elevation data
  ansible.builtin.get_url:
    url: "https://e4ftl01.cr.usgs.gov/ASTT/ASTGTM.003/2000.03.01/{{ item }}.ASTGTM2_dem.tif.zip"
    dest: "{{ map_data_dir }}/aster/{{ item }}.ASTGTM2_dem.tif.zip"
    mode: '0644'
    owner: "{{ user }}"
    group: "{{ user }}"
    timeout: 600
    force: no
  loop: "{{ aster_regions | default([]) }}"
  when: 
    - aster_enabled
    - aster_regions | length > 0
  become: yes
  register: aster_downloads
  until: aster_downloads is succeeded
  retries: 3
  delay: 10
  loop_control:
    label: "{{ item }}"

