---

- name: Ensure map data directory exists
  ansible.builtin.file:
    path: "{{ map_data_dir }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'
  become: yes

- name: Include OpenStreetMap downloads
  ansible.builtin.include_tasks: maps_osm.yml
  when: osm_enabled

- name: Include MBTiles downloads
  ansible.builtin.include_tasks: maps_mbtiles.yml
  when: mbtiles_enabled
