---
# NOAA Nautical Charts Downloads
# National Oceanic and Atmospheric Administration nautical charts

- name: Create NOAA charts directory
  ansible.builtin.file:
    path: "{{ map_data_dir }}/noaa"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'
  when: noaa_enabled
  become: yes

- name: Download NOAA nautical charts
  ansible.builtin.get_url:
    url: "{{ item.url | default('https://charts.noaa.gov/ENCs/' + item.name + '.zip') }}"
    dest: "{{ map_data_dir }}/noaa/{{ item.name | default(item) }}.zip"
    mode: '0644'
    owner: "{{ user }}"
    group: "{{ user }}"
    timeout: 600
    force: no
  loop: "{{ noaa_charts_regions | default([]) }}"
  when: 
    - noaa_enabled
    - noaa_charts_regions | length > 0
  become: yes
  register: noaa_downloads
  until: noaa_downloads is succeeded
  retries: 3
  delay: 10
  loop_control:
    label: "{{ item.name | default(item) }}"

