---
# USGS Topo Maps Downloads
# US Geological Survey topographic maps

- name: Create USGS topo maps directory
  ansible.builtin.file:
    path: "{{ map_data_dir }}/usgs"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'
  when: usgs_enabled
  become: yes

- name: Download USGS topo maps
  ansible.builtin.get_url:
    url: "{{ item.url | default('https://prd-tnm.s3.amazonaws.com/StagedProducts/Maps/HistoricalTopo/' + item.name + '/' + item.name + '_' + (usgs_topo_scales | first | default('250k')) + '_geo.pdf') }}"
    dest: "{{ map_data_dir }}/usgs/{{ item.name }}_{{ usgs_topo_scales | first | default('250k') }}_geo.pdf"
    mode: '0644'
    owner: "{{ user }}"
    group: "{{ user }}"
    timeout: 600
    force: no
  loop: "{{ usgs_topo_regions | default([]) }}"
  when: 
    - usgs_enabled
    - usgs_topo_regions | length > 0
  become: yes
  register: usgs_downloads
  until: usgs_downloads is succeeded
  retries: 3
  delay: 10
  loop_control:
    label: "{{ item.name }}"

