---

- name: Install Marble via Flatpak
  community.general.flatpak:
    method: user
    name: "app/org.kde.marble/{{ flatpak_arch }}/stable"
    state: present
  when: 
    - use_flatpak
    - install_marble
  become_user: "{{ user }}"
  become: yes

- name: Install Marble via system package manager
  ansible.builtin.package:
    name: marble
    state: present
    update_cache: yes
  when: 
    - not use_flatpak
    - install_marble
  become: yes
