---

- name: Check if Flatpak binary exists
  ansible.builtin.stat:
    path: /usr/bin/flatpak
  register: flatpak_binary
  when: use_flatpak
  become: yes

- name: Install Flatpak
  ansible.builtin.package:
    name: flatpak
    state: present
  when: 
    - use_flatpak
    - install_flatpak
    - not flatpak_binary.stat.exists
  become: yes

- name: Add Flathub remote
  community.general.flatpak_remote:
    name: flathub
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
    method: user
    state: present
  when: 
    - use_flatpak
    - add_flathub
  become_user: "{{ user }}"
  become: yes
