---

- name: Install QGIS via Flatpak
  community.general.flatpak:
    method: user
    name: "app/org.qgis.qgis/{{ flatpak_arch }}/stable"
    state: present
  when: 
    - use_flatpak
    - install_qgis
  become_user: "{{ user }}"
  become: yes

- name: Install QGIS via system package manager
  ansible.builtin.package:
    name: qgis
    state: present
    update_cache: yes
  when: 
    - not use_flatpak
    - install_qgis
  become: yes

