alarm: high_request_rate
on: web_log.nginx.requests
lookup: average {{ netdata_nginx_high_request_rate_lookup }} unaligned of requests
units: requests/s
every: {{ netdata_nginx_high_request_rate_every }}
warn: $this > {{ netdata_nginx_high_request_rate_warn }}
crit: $this > {{ netdata_nginx_high_request_rate_crit }}
