alarm: nginx_high_conn
    on: nginx.connections
lookup: average {{ netdata_nginx_high_conn_lookup }} unaligned of active
 units: connections
 every: {{ netdata_nginx_high_conn_every }}
  warn: $this > {{ netdata_nginx_high_conn_warn }}
  crit: $this > {{ netdata_nginx_high_conn_crit }}
