[Unit]
Description=Nvidia GPU Exporter
After=network-online.target

[Service]
Type=simple

User={{ nvidia_gpu_exporter_user }}
Group={{ nvidia_gpu_exporter_group }}

ExecStart={{ gpu_exporter_binary }}

SyslogIdentifier={{ nvidia_exporter_service_name }}

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
